<config>
    
    <jars>
        <jar in="../../build/libs/callso.jar" out="../../build/libs/callso-obf.jar"/>
    </jars>
    <keep-names>
        <class access="private+"/>
        <field access="private+"/>
        <method access="private+"/>
    </keep-names>
    <property name="local-variables-naming" value="single-name"/>
    <property name="string-encryption" value="disable" apply2class="class com.lpr.LPR"/>
    <property name="log-file" value="log.xml"/>
</config>
